<h1>Weather Info</h1>
<%= form_tag "/forecasts", method: "get" do %>
  City: <input type="text" name="form_city">
  State: <input type="text" name="form_state">
  <input type="submit" value="Submit">
<% end %>
<p><%= @location %>: Current temperature is <%= @temperature %></p>
<h2>5 day forecast:</h2>
<ul>
  <% @forecast_days[0..4].each do |forecast_day| %>
    <li><%= forecast_day["date"] %>: High <%= forecast_day["high"] %> - Low <%= forecast_day["low"] %></li>
  <% end %>
</ul>

<% console %>
